/***** COLOR VARIABLE ******/

:root {
    --pink: hsl(322, 100%, 66%);
    --light-pink: hsl(321, 100%, 78%);
    --light-red: hsl(0, 100%, 63%);
    --very-dark-cyan: hsl(192, 100%, 9%);
    --very-pale-blue: hsl(207, 100%, 98%);
}

/***** END OF COLOR VARIABLE****/


html {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}

body {
    padding: 6rem;
    font-size: 1.5rem;
    line-height: 1.5rem;
}

/************************************** WHOLE HEADER ****************************************/

/***** HEADER TOP ******/

.header-top{
    margin-bottom: 15rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cta{
    background-color: white;
    padding: 1rem 3.5rem;
    border-radius: 4rem;
    border-color: var(--pink);
    border-width: .1rem;
    color: var(--pink);
    outline: none;
    font-size: 1.5rem;
    display: inline-block;
    font-weight: 400;
}

/***** HEADER BOTTOM ******/

.header-bottom{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 8rem;

}

.title{
    font-family: 'Poppins', 'sans-serif';
    font-weight: 700;
}

.title--big{
    margin-bottom: 5rem;
    font-size: 5rem;
}

.about{
    text-align: center;
    width: 45%;
    font-size: 2rem;
    line-height: 1.5;
    margin-bottom: 4rem;
}

.cta--big{
    padding: 2.5rem 10rem;
    background-color: var(--pink);
    color: var(--very-pale-blue);
    font-size: 2.2rem;
    font-weight: 600;
    border-color: var(--pink);
}


/************************************** IMAGE AND INFO ****************************************/


.screen{
    margin-left: 12rem;
}