/***** COLOR VARIABLE ******/

:root {
    --pink: hsl(322, 100%, 66%);
    --light-pink: hsl(321, 100%, 78%);
    --light-red: hsl(0, 100%, 63%);
    --very-dark-cyan: hsl(192, 100%, 9%);
    --very-pale-blue: hsl(207, 100%, 98%);
}

/***** END OF COLOR VARIABLE****/


html {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}

body {
    font-size: 1.5rem;
    line-height: 1.5rem;
    overflow-x: hidden;
}

/************************************** WHOLE HEADER ****************************************/

.header{
    padding: 6rem;
}
/***** HEADER TOP ******/

.header-top{
    margin-bottom: 15rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cta{
    background-color: white;
    padding: 1rem 3.5rem;
    border-radius: 4rem;
    border: .1rem solid var(--pink);
    color: var(--pink);
    outline: none;
    font-size: 1.5rem;
    display: inline-block;
    font-weight: 400;
}

/***** HEADER BOTTOM ******/

.header-bottom{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 8rem;

}

.title{
    font-family: 'Poppins', 'sans-serif';
    font-weight: 700;
}

.title--big{
    margin-bottom: 5rem;
    font-size: 5rem;
    color: var(--very-dark-cyan);
}

.about{
    text-align: center;
    width: 40%;
    font-size: 1.7rem;
    line-height: 1.5;
    margin-bottom: 4rem;
    color: var(--very-dark-cyan);
}

.cta--big{
    padding: 2.5rem 10rem;
    background-color: var(--pink);
    color: var(--very-pale-blue);
    font-size: 2.2rem;
    font-weight: 600;
    border-color: var(--pink);
}


/************************************** IMAGE AND INFO ****************************************/


.mockup-content{
    margin: 0 18rem 15rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 35rem;
}

.screen{
    margin-bottom: 6rem;
}

.info{
    display: flex;
    justify-content: space-around;
}

.info-details{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.numbers{
    margin: 7rem 0 5rem;
    font-family: 'Poppins', 'sans-serif';
    font-size: 9rem;
    color: var(--very-dark-cyan);
}

.description{
    color: hsl(210, 14%, 69%);
    font-weight: 400;
    font-size: 2rem;
    align-self: center;
}

/************************************** SKILLS PART ****************************************/

.missions__one{
    display: flex;
    align-items: center;
    padding: 15rem 10rem;
    position: relative;
}


.missions__two{
    display: flex;
    align-items: center;
    padding: 0 10rem;

}

.missions__three{
    display: flex;
    align-items: center;
    padding: 15rem 10rem;
    position: relative;
}

.svgs{
    width: 50rem;
    height: auto;
}

.layout{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-left: 5rem;
}

.title--normal{
    font-size: 3rem;
    color: var(--very-dark-cyan);
    margin-bottom: 3rem;
}

.about--little{
    font-size: 1.5rem;
    text-align: left;
    width: 70%;
    margin-bottom: 0;
}

.utility-margin{
    margin-left: 16rem;
}

.utility-width{
    width: 85%;
}

