/***** COLOR VARIABLE ******/

:root {
    --pink: hsl(322, 100%, 66%);
    --light-pink: hsl(321, 100%, 78%);
    --light-red: hsl(0, 100%, 63%);
    --very-dark-cyan: hsl(192, 100%, 9%);
    --very-pale-blue: hsl(207, 100%, 98%);
}

/***** END OF COLOR VARIABLE****/


html {
    font-family: 'Open Sans', sans-serif;
}

body {
    padding: 6rem;
    font-size: 1.5rem;
    line-height: 1.5rem;
}

/************************************** WHOLE HEADER ****************************************/

/***** HEADER TOP ******/

.header-top{
    margin-bottom: 6rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cta{
    background-color: white;
    padding: 1rem 3.5rem;
    border-radius: 4rem;
    border-color: red;
    outline: none;
}